<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flying.chart">

  <select id="searchReservationByrid" 
	parameterType="int"
	resultType="com.flying.model.ReservationDTO">
	select * from reservation where rid= #{aa}
  </select>




	
<select id="selectReserve" parameterType="int" 
        resultType="com.flying.model.ChartDTO">
select sum(rtime) as sumrtime,to_char(rstart,'YYYYMM') as month
from reservation
where pid = #{pid:INTEGER} 
and to_char(rstart,'YYYY') = to_char(sysdate,'YYYY')
group by to_char(rstart,'YYYYMM')
order by to_char(rstart,'YYYYMM') 
</select>
	
</mapper>
