<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flying.members">

	<update id="deleteByMid" parameterType="String">
		update members set mcheck
		= 1
		where mid= #{mid:VARCHAR}
	</update>

	<select id="selectBymid" parameterType="String"
		resultType="com.flying.model.MembersDTO">
		select * from members where mid = #{aa:VARCHAR} and mcheck
		= 0
	</select>

	<update id="updateMembers">
		update members
		set
		mname=#{mname:VARCHAR},mpwd=#{mpwd:VARCHAR},mphone=#{mphone:VARCHAR},memail=#{memail:VARCHAR}
		where mid=#{mid:VARCHAR}
	</update>

	<update id="updatePoint">
		update members
		set mpoint=mpoint+#{mpoint:INTEGER}
		where mid=#{mid:VARCHAR}
	</update>

	<insert id="insertMembers" parameterType="com.flying.model.MembersDTO">
		insert into
		Members(mid,mpwd,mname,mphone,memail,mpoint)
		values(#{mid:VARCHAR},#{mpwd:VARCHAR},#{mname:VARCHAR},#{mphone:VARCHAR},#{memail:VARCHAR},0)
	</insert>

	<select id="selectByUser" parameterType="map"
		resultType="com.flying.model.MembersDTO">
		select * from Members
		where mid = #{mid:VARCHAR} and mpwd =
		#{mpwd:VARCHAR}
	</select>

</mapper>
