<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flying.members">

  <select id="selectBymid" 
  	parameterType="String"
  	resultType="com.flying.model.MembersDTO">
  	<!-- MemberDTO default 생성자 수행, setter()에 의해 할당 -->
    select * from members where mid = #{aa:VARCHAR}
  </select>
 
  <update id="updateMembers">
  	update members 
  	set mname=#{mname:VARCHAR},mpwd=#{mpwd:VARCHAR},mphone=#{mphone:VARCHAR}
  	where mid=#{mid:VARCHAR} 
  </update>

	<update id="updatePoint">
  	update members 
  	set mpoint=mpoint+#{mpoint:INTEGER}
  	where mid=#{mid:VARCHAR} 
  	</update>
  
  <insert id="insertMembers" parameterType="com.flying.model.MembersDTO">
	insert into Members(mid,mpwd,mname,mphone,mpoint,cid)
	values(#{mid:VARCHAR},#{mpwd:VARCHAR}, #{mname:VARCHAR},
	                  #{mphone:VARCHAR},0,#{cid:VARCHAR})
  </insert>
  
  <select id="selectByUser" parameterType="map"
  	resultType="com.flying.model.MembersDTO">
    select * from Members 
    where mid = #{mid:VARCHAR} and mpwd = #{mpwd:VARCHAR}
  </select>
  
  <select id="selectByCbrand" 
  	parameterType="String"
  	resultType="com.flying.model.CarDTO">
    select * from CAR where cbrand= #{cbrand:VARCHAR}
  </select>
  
  
</mapper>
