<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flying.parking">

  <select id="selectByplocation" 
  	parameterType="String"
  	resultType="com.flying.model.ParkingDTO">
  	<!-- MemberDTO default 생성자 수행, setter()에 의해 할당 -->
    select * from parking where plocation = #{aa:VARCHAR}
  </select>
 
 
 
</mapper>