/* ==================================================
----------------------------------------------------


  Geass - Creative Onepage Html5 Template
  Author:Eon 
  Author URI: https://wrapbootstrap.com/user/eony



  *--------- Geass - Table of Contents --------- *
  1.  General
  2.  Helper Classes
  3.  Common Styles
  4.  Bootstrap Styles Overwrite
    4.1  BreadCrumb
    4.2  Tooltip
    4.3  Alerts
    4.4  Buttons & Badges
    4.5  Dropdown Menu
    4.6  List Groups
    4.7  Collapses
    4.8  Form/Input Elements
    4.9  Pagination
    4.10 Bootstrap Slider
    4.11 Popover
    4.12 Modal
    4.13 Progress Bars
    4.14 Tabs
  5.  Home Section
  6.  Header / Nav 
  7.  Owl Carousel
  8.  #AboutUs Section
  9.  Skills Section/ Parallax
  10. #Services Section
  11. Countto Section/ Parallax
  12. Portfolio Section
  13. Testimonials Section/ Parallax 
  14. Blog Page/Section
  15. TwitterFeed Section/ Parallax
  16. #Contact Section
  17. Social Media Icons
  18. Scroll Top Button
  19. Footer
  20. Pricing Section/ Pricing Tables
  21. Box Style
  22. Video Background Section


----------------------------------------------------
====================================================*/

/*========================================
--------------------------
----------- 1. General
=========================================*/

/* change background colur as your design for selection*/
::selection {
  background: #c90e31;
  color: #fff;
}

::-moz-selection {
  background: #c90e31;
  color: #fff;
}

html,
body {
  height:100%;
}

/* animate after queryloader complated */
.geass-loader-overlay {
  width:100%;
  height:50%;
  position: fixed;
  background: #fff;
  z-index:2000;
  left:0;
}

.geass-loader-overlay.left {
   top:0;
}

.geass-loader-overlay.right {
  bottom:0;
}


body {
  font:15px/1.5 'open_sansregular', sans-serif;
  color:#4e4e4e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body.dark {
  background: #2a2a2a;
}

/* this is important to make #home section height 100%*/
#wrapper {
  height:100%;
}

/* this is important to make layout boxed and fix the height bug */
/* if layout is boxed then js will fix the home section's height*/
#wrapper.boxed,
#wrapper.boxed-long {
  height:auto;
}

/* boxed layout with top-bottom margin s*/
#wrapper.boxed {
  width: 970px;
  margin: 40px auto;
  box-shadow: 0 4px 15px rgba(0,0,0, 0.25);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0, 0.25);
}

/* boxed layout without the top-bottom margin */
#wrapper.boxed-long {
  width:970px;
  margin:0 auto;
  box-shadow: 3px 0 10px rgba(0,0,0, 0.15), -3px 0 10px rgba(0,0,0, 0.15);
  -webkit-box-shadow: 3px 0 10px rgba(0,0,0, 0.15), -3px 0 10px rgba(0,0,0, 0.15);
}

/* Patterns */
.pattern1 {
  background-image: url('../images/patterns/pattern1.png');
  background-repeat: repeat;
}

.pattern2 {
  background-image: url('../images/patterns/pattern2.png');
  background-repeat: repeat;
}

.pattern3 {
  background-image: url('../images/patterns/pattern3.png');
  background-repeat: repeat;
}

.pattern4 {
  background-image: url('../images/patterns/pattern4.png');
  background-repeat: repeat;
}

.pattern5 {
  background-image: url('../images/patterns/pattern5.png');
  background-repeat: repeat;
}

.pattern6 {
  background-image: url('../images/patterns/pattern6.png');
  background-repeat: repeat;
}

.pattern7 {
  background-image: url('../images/patterns/pattern7.png');
  background-repeat: repeat;
}

.pattern8 {
  background-image: url('../images/patterns/pattern8.png');
  background-repeat: repeat;
}

.pattern9 {
  background-image: url('../images/patterns/pattern9.png');
  background-repeat: repeat;
}

.pattern10 {
  background-image: url('../images/patterns/pattern10.png');
  background-repeat: repeat;
}

.pattern11 {
  background-image: url('../images/patterns/pattern11.png');
  background-repeat: repeat;
}

.pattern12 {
  background-image: url('../images/patterns/pattern12.png');
  background-repeat: repeat;
}

.pattern13 {
  background-image: url('../images/patterns/pattern13.png');
  background-repeat: repeat;
}

.pattern14 {
  background-image: url('../images/patterns/pattern14.png');
  background-repeat: repeat;
}

.pattern15 {
  background-image: url('../images/patterns/pattern15.png');
  background-repeat: repeat;
}

.pattern16 {
  background-image: url('../images/patterns/pattern16.png');
  background-repeat: repeat;
}

.pattern17 {
  background-image: url('../images/patterns/pattern17.png');
  background-repeat: repeat;
}

.pattern18 {
  background-image: url('../images/patterns/pattern18.png');
  background-repeat: repeat;
}

.pattern19 {
  background-image: url('../images/patterns/pattern19.png');
  background-repeat: repeat;
}

.pattern20 {
  background-image: url('../images/patterns/pattern20.png');
  background-repeat: repeat;
}

.pattern21 {
  background-image: url('../images/patterns/pattern21.png');
  background-repeat: repeat;
}

.pattern22 {
  background-image: url('../images/patterns/pattern22.png');
  background-repeat: repeat;
}

.pattern23 {
  background-image: url('../images/patterns/pattern23.png');
  background-repeat: repeat;
}

.pattern24 {
  background-image: url('../images/patterns/pattern24.png');
  background-repeat: repeat;
}

.pattern25 {
  background-image: url('../images/patterns/pattern25.png');
  background-repeat: repeat;
}

.pattern26 {
  background-image: url('../images/patterns/pattern26.png');
  background-repeat: repeat;
}

.pattern27 {
  background-image: url('../images/patterns/pattern27.png');
  background-repeat: repeat;
}

.pattern28 {
  background-image: url('../images/patterns/pattern28.png');
  background-repeat: repeat;
}

.pattern29 {
  background-image: url('../images/patterns/pattern29.png');
  background-repeat: repeat;
}

.pattern30 {
  background-image: url('../images/patterns/pattern30.png');
  background-repeat: repeat;
}

.pattern31 {
  background: url('../images/patterns/pattern31.png');
  background-repeat: repeat;
}

a,
a:hover,
a:focus{
  text-decoration:none;
}

a:active,
a:focus {
  outline:none;
}

a {
  color:#c90e31;
  -webkit-transition:color 0.5s;
  -moz-transition:color 0.5s;
  -o-transition:color 0.5s;
  -ms-transition:color 0.5s;
  transition:color 0.5s;
}

a:hover {
  color:#a30523;
}

#qLoverlay {
  font-family: 'latobold', Verdana;
}

h1.fancy,
h2.fancy,
h3.fancy,
h4.fancy,
h5.fancy,
h6.fancy,
.h1.fancy,
.h2.fancy,
.h3.fancy,
.h4.fancy,
.h5.fancy,
.h6.fancy {
  font-family: 'dancing_scriptbold', Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family:'latobold', Verdana, sans-serif;
  line-height: 1.1;
}

h1,h2,h3,.h1,.h2,.h3 {
  margin:0 0 20px;
}

h4,h5,h6,.h4,.h5,.h6 {
  margin:0 0 10px;
}

h1,
.h1 {
  font-size: 3.8em;
}

h2,
.h2 {
  font-size: 3em;
}

h3,
.h3 {
  font-size: 2.5em;
}

h4,
.h4 {
  font-size: 2em;
}

h5,
.h5 {
  font-size: 1.6em;
}

h6,
.h6 {
  font-size: 1.4em;
}

p {
  margin: 0 0 1.5em;
}

ul,
ol {
  padding:0;
  margin:0;
  list-style-type:none;
  margin-bottom:1.5em;
}

.list-style {
  padding-left:1.5em;
}

.list-style.list-disc {
  list-style-type: disc;
}

.list-style.list-circle {
  list-style-type: circle;
}

.list-style.list-square {
  list-style-type: square;
}

.list-style.list-decimal {
  list-style-type: decimal;
}

.list-style.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-style.list-upper-alpha {
  list-style-type: upper-alpha;
}

.list-style.list-lower-roman {
  list-style-type: lower-roman;
}

.list-style.list-upper-roman {
  list-style-type: upper-roman;
}

.fa-ul > li {
  margin-bottom:0.7em ;
}
.
/* make responsive all images*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  border:none;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-top: 1px solid #ebebeb;
}

blockquote {
  padding:1em 0.5em 1em 2em;
  margin: 0 0 1.5em;
  border-left: 4px solid #ebebeb;
  position: relative;
  font-size:1.15em;
}

blockquote p {
  margin-bottom:1em;
}

.blockquote-reverse,
blockquote.pull-right {
  padding:1em 2em 1em 0.5em;
  border-right: 4px solid #ebebeb;
}

blockquote cite {
  font-size:0.8em;
  font-weight: bold;
  color:#7a7a7a;
}

blockquote.red {
  border-left-color:#c90e31;
}

blockquote.orange {
  border-left-color:#f49d14;
}

blockquote.yellow {
  border-left-color:#f8d61b;
}

blockquote.lightblue {
  border-left-color:#1bc4f5;
}

blockquote.blue {
  border-left-color:#1e53d8;
}

blockquote.purple {
  border-left-color:#7f01c8;
}

blockquote.lightgreen {
  border-left-color:#09d33d;
}

blockquote.green {
  border-left-color:#0b9a0b;
}


.blockquote-reverse.red,
blockquote.pull-right.red {
  border-right-color:#c90e31;
}

.blockquote-reverse.orange,
blockquote.pull-right.orange {
  border-right-color:#f49d14;
}

.blockquote-reverse.yellow,
blockquote.pull-right.yellow {
  border-right-color:#f8d61b;
}

.blockquote-reverse.lightblue,
blockquote.pull-right.lightblue {
  border-right-color:#1bc4f5;
}

.blockquote-reverse.blue,
blockquote.pull-right.blue {
  border-right-color:#1e53d8;
}

.blockquote-reverse.purple,
blockquote.pull-right.purple {
  border-right-color:#7f01c8;
}

.blockquote-reverse.lightgreen,
blockquote.pull-right.lightgreen {
  border-right-color:#09d33d;
}

.blockquote-reverse.green,
blockquote.pull-right.green {
  border-right-color:#0b9a0b;
}

/*========================================
--------------------------
----------- 2.Helper Classes
=========================================*/

/* fully responsive via container width*/
.img-responsive {
  display:block;
  width:100%;
  max-width:100%;
  height:auto;
}


.full-height {
  height:100%;
}

/* vertical center with display table */
.vcenter-container {
  display:table;
  width:100%;
  height:100%;
}

.vcenter {
  display:table-cell;
  vertical-align: middle;
}

.sm-separator {
  margin:0 5px;
}

.sm-separator-right {
  margin-right:5px;
}

.separator-right {
  margin-right:10px;
}

.lg-separator-right {
  margin-right:20px;
}

.lg-separator-right2x {
  margin-right:30px;
}

.sm-separator-left {
  margin-left:5px;
}

.separator-left {
  margin-left:10px;
}

.lg-separator-left {
  margin-left:20px;
}

.lg-separator-left2x {
  margin-right:30px;
}

.xs-margin,
.sm-margin,
.md-margin,
.lg-margin,
.xlg-margin,
.md-margin2x,
.lg-margin2x,
.xlg-margin2x,
.md-margin3x,
.lg-margin3x,
.xlg-margin3x {
  display:block;
  min-height:1px;
}

.xs-margin {
  margin-bottom:10px !important;
}

.sm-margin {
  margin-bottom:20px !important;
}

.md-margin {
  margin-bottom:30px !important;
}

.lg-margin {
  margin-bottom:40px !important;
}

.xlg-margin {
  margin-bottom:50px !important;
}

.md-margin2x {
  margin-bottom:60px !important;
}

.lg-margin2x {
  margin-bottom:80px !important;
}

.xlg-margin2x {
  margin-bottom:100px !important;
}

.md-margin3x {
  margin-bottom:90px !important;
}

.lg-margin3x {
  margin-bottom:120px !important;
}

.xlg-margin3x {
  margin-bottom:150px !important;
}

.clear-margin {
  margin-bottom:0 !important;
}

.red-color {
  color:#c90e31 !important;
}

.orange-color {
  color:#f49d14 !important;
}

.yellow-color {
  color:#f8d61b !important;
}

.lightblue-color {
  color:#1bc4f5 !important;
}

.gray-color {
  color:#d5d5d5 !important;
}

.blue-color {
  color:#1e53d8 !important;
}

.purple-color {
  color:#7f01c8 !important;
}

.lightgreen-color {
  color:#09d33d !important;
}

.green-color {
  color:#0b9a0b !important;
}

.highlight {
  padding:0 0.3em;
  color:#fff;
  background: #5a5a5a;
}

.redbg,
.highlight.red {
  background:#c90e31;
}

.orangebg,
.highlight.orange {
  background:#f49d14;
}

.yellowbg,
.highlight.yellow {
  background:#f8d61b;
}

.lightbluebg,
.highlight.lightblue {
  background:#1bc4f5;
}

.bluebg,
.highlight.blue {
  background:#1e53d8;
}

.purplebg,
.highlight.purple {
  background:#7f01c8;
}

.lightgreenbg,
.highlight.lightgreen {
  background:#09d33d;
}

.greenbg,
.highlight.green {
  background:#0b9a0b;
}

.dropcap,
.dropcap-bg {
  font-size:4em;
  line-height:1;
  padding-right:0.1em;
  float:left;
  text-transform: uppercase;;
}

.dropcap.red {
  color:#c90e31;
}

.dropcap.orange {
  color:#f49d14;
}

.dropcap.yellow {
  color:#f8d61b;
}

.dropcap.lightblue {
  color:#1bc4f5;
}

.dropcap.blue {
  color:#1e53d8;
}

.dropcap.purple {
  color:#7f01c8;
}

.dropcap.lightgreen {
  color:#09d33d;
}

.dropcap.green {
  color:#0b9a0b;
}

.dropcap-bg {
  padding:0.04em 0.1em;
  color:#fff;
  margin-right:0.12em;
  background: #5a5a5a;
}

.dropcap-bg.red {
  background:#c90e31;
}

.dropcap-bg.orange {
  background:#f49d14;
}

.dropcap-bg.yellow {
  background:#f8d61b;
}

.dropcap-bg.lightblue {
  background:#1bc4f5;
}

.dropcap-bg.blue {
  background:#1e53d8;
}

.dropcap-bg.purple {
  background:#7f01c8;
}

.dropcap-bg.lightgreen {
  background:#09d33d;
}

.dropcap-bg.green {
  background:#0b9a0b;
}

.dropcap.bold {
  font-weight: bold;
}


/*========================================
--------------------------
----------- 3.Common Styles
=========================================*/

#content {
  overflow:hidden;
  padding-bottom: 80px;
}

.page-header {
  margin:0;
  padding:0;
  text-align:center;
  width:100%;
  border-bottom:none;
  box-shadow:0 5px 12px rgba(0,0,0, 0.16);
  -webkit-box-shadow:0 5px 12px rgba(0,0,0, 0.16);
}

.page-header.background1 {
  background-image: url('../images/backgrounds/background1.jpg');
}

.page-header.background2 {
  background-image: url('../images/backgrounds/background2.jpg');
}

.page-header.background3 {
  background-image: url('../images/backgrounds/background3.jpg');
}

.page-header.background4 {
  background-image: url('../images/backgrounds/background4.jpg');
}

.page-header.background5 {
  background-image: url('../images/backgrounds/background5.jpg');
}

.page-header.background6 {
  background-image: url('../images/backgrounds/background6.jpg');
}

.page-header.background7 {
  background-image: url('../images/backgrounds/background7.jpg');
}

.page-header.background8 {
  background-image: url('../images/backgrounds/background8.jpg');
}

.page-header.background9 {
  background-image: url('../images/backgrounds/background9.jpg');
}

.page-header.background10 {
  background-image: url('../images/backgrounds/background10.jpg');
}

.page-header.background11 {
  background-image: url('../images/backgrounds/background11.jpg');
}

.page-header.background12 {
  background-image: url('../images/backgrounds/background12.jpg');
}

.page-header-wrapper {
  padding:220px 0;
}

.page-title {
  color:#fff;
  font-size:100px;
  text-shadow:0 2px 2px rgba(0,0,0, 0.06);
}

.page-header.red .page-title,
.page-title.red {
  color:#c90e31;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}
.page-header.orange .page-title,
.page-title.orange {
  color:#f49d14;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

.page-header.yellow .page-title,
.page-title.yellow {
  color:#f8d61b;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

.page-header.lightblue .page-title,
.page-title.lightblue {
  color:#1bc4f5;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

.page-header.blue .page-title,
.page-title.blue {
  color:#1e53d8;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

.page-header.purple .page-title,
.page-title.purple {
  color:#7f01c8;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

.page-header.lightgreen .page-title,
.page-title.lightgreen {
  color:#09d33d;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

.page-header.green .page-title,
.page-title.green {
  color:#0b9a0b;
  text-shadow:0 2px 2px rgba(255,255,255, 0.1);
}

/* Sidebar menu for elements pages*/
.sidebar-menu {
  font-size:1.1em;
  text-align: right;
}

.sidebar-menu li a {
  color:#7a7a7a;
  display: block;
  padding:2px 0;
  text-transform: capitalize;
}

.sidebar-menu li.active a,
.sidebar-menu li a:hover {
  text-decoration: underline;
  color:#c90e31;
}

/* General Section Styles*/
.section {
  position: relative;
  padding:115px 0 0;
  background-color: #fff;
  overflow: hidden;
}

.section-bg,
.section.section-bg {
  position: relative;
  background-color: #9a8a8a;
  padding:0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.section-overlay {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
}

.section-overlay.yellowbg {
  background: rgba(248, 214, 27, 0.4);
}

.section-overlay.orangebg {
  background: rgba(244, 157, 20, 0.4);
}

.section-overlay.redbg {
  background: rgba(201, 14, 49, 0.4);
}

.section-overlay.lightbluebg {
  background: rgba(27, 196, 245, 0.4);
}

.section-overlay.bluebg {
  background: rgba(30, 83, 216, 0.4);
}

.section-overlay.lightgreenbg {
  background: rgba(9, 211, 61, 0.4);
}

.section-overlay.greenbg {
  background: rgba(11, 154, 11, 0.4);
}

.section-overlay.purplebg {
  background: rgba(127, 1, 200, 0.4);
}

.section-overlay.darkbg {
  background: rgba(0, 0, 0, 0.4);
}

.section-content {
  position: relative;
  z-index:5;
  padding:115px 0 0;
  color:#fff;
}

.parallax,
.parallax-fixed {
  position: relative;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  /* to prevent empy bg area*/
  background-repeat: repeat-y;
  overflow: hidden;
}

.parallax .vcenter-container,
.parallax .parallax-content,
.parallax-fixed .vcenter-container,
.parallax-fixed .parallax-content {
  position: relative;
  z-index:1;
}

.parallax .parallax-content,
.parallax-fixed .parallax-content {
  padding:80px 0;
}

.section > header,
.section-bg header {
  margin-bottom:60px;
}

.section-title {
  font-size:60px;
  color:#4e4e4e;
  margin-bottom:20px;
}

.section-title > span {
  display: inline-block;
  padding:0 10px;
}

.section-desc,
.parallax-desc {
  font-size:18px;
  width:70%;
  margin:0 auto;
  color:#6a6a6a;
}


.section-bg .section-title,
.section-bg .section-desc {
  color:#fff;
}

.parallax-header {
  margin-bottom:80px;
}

.parallax-title {
  font-size:36px;
  color:#fff;
  text-transform: capitalize;
  margin-bottom:20px;
}

.parallax-desc {
  font-size:1.15em;
  color:#fff;
}

.section-title.fancy,
.parallax-title.fancy {
  font-family: 'dancing_scriptbold', Verdana, sans-serif;
}

.section-title.fancy + .section-desc,
.parallax-title.fancy + .parallax-desc {
  font-size:17px;
}

/*========================================
--------------------------
----------- 4.Bootstrap Styles Overwrite
=========================================*/

/* ---------------------------------
------------- 4.1 Breadcrumb  */

.breadcrumb {
  padding: 0.5em 1.8em;
  margin-bottom: 0;
  background: #f2f2f2;
  border-radius: 0.25em;
  font-size:1.1em;
}

.breadcrumb > li + li:before {
  color: #bababa;
}

.breadcrumb > .active {
  color: #7a7a7a;
}


.breadcrumb.red {
  background:#c90e31;
}

.breadcrumb.orange {
  background:#f49d14;
}

.breadcrumb.yellow {
  background:#f8d61b;
}

.breadcrumb.lightblue {
  background:#1bc4f5;
}

.breadcrumb.blue {
  background:#1e53d8;
}

.breadcrumb.purple {
  background:#7f01c8;
}

.breadcrumb.lightgreen {
  background:#09d33d;
}

.breadcrumb.green {
  background:#0b9a0b;
}

.breadcrumb.red a,
.breadcrumb.orange a,
.breadcrumb.yellow a,
.breadcrumb.lightblue a,
.breadcrumb.blue a,
.breadcrumb.purple a,
.breadcrumb.lightgreen a,
.breadcrumb.green a {
  color:#fff;
}

.breadcrumb.red > li + li:before,
.breadcrumb.orange > li + li:before,
.breadcrumb.yellow > li + li:before,
.breadcrumb.lightblue > li + li:before,
.breadcrumb.blue > li + li:before,
.breadcrumb.purple > li + li:before,
.breadcrumb.lightgreen > li + li:before,
.breadcrumb.green > li + li:before {
  color:#aeaeae;
}

.breadcrumb.red .active,
.breadcrumb.orange .active,
.breadcrumb.yellow .active,
.breadcrumb.lightblue .active,
.breadcrumb.blue .active,
.breadcrumb.purple .active,
.breadcrumb.lightgreen .active,
.breadcrumb.green .active {
  color:#aeaeae;
}


/* ---------------------------------
------------- 4.2 Tooltip  */

.tooltip {
  font-size: 0.9em;
  line-height: 1.5;
}

.tooltip-inner {
  padding: 0.5em 1em;
  background-color: #5DC8CD;
  border-radius: 3px;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow  {
  border-top-color: #5DC8CD;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #5DC8CD;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #5DC8CD;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #5DC8CD;
}

/* For Social icons tooltip colors*/
/* Facebook tooltip bg color */
.facebook + .tooltip .tooltip-inner {
  background-color: #3b5998;
}
.facebook + .tooltip.top .tooltip-arrow,
.facebook + .tooltip.top-left .tooltip-arrow,
.facebook + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #3b5998;
}

.facebook + .tooltip.right .tooltip-arrow {
  border-right-color: #3b5998;
}

.facebook + .tooltip.left .tooltip-arrow {
  border-left-color: #3b5998;
}
.facebook + .tooltip.bottom .tooltip-arrow,
.facebook + .tooltip.bottom-left .tooltip-arrow,
.facebook + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #3b5998;
}

/* Twitter tooltip bg color */
.twitter + .tooltip .tooltip-inner {
  background-color: #55acee;
}
.twitter + .tooltip.top .tooltip-arrow,
.twitter + .tooltip.top-left .tooltip-arrow,
.twitter + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #55acee;
}

.twitter + .tooltip.right .tooltip-arrow {
  border-right-color: #55acee;
}

.twitter + .tooltip.left .tooltip-arrow {
  border-left-color: #55acee;
}
.twitter + .tooltip.bottom .tooltip-arrow,
.twitter + .tooltip.bottom-left .tooltip-arrow,
.twitter + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #55acee;
}

/* Google Plus tooltip bg color */
.googleplus + .tooltip .tooltip-inner {
  background-color: #dd4b39;
}
.googleplus + .tooltip.top .tooltip-arrow,
.googleplus + .tooltip.top-left .tooltip-arrow,
.googleplus + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #dd4b39;
}

.googleplus + .tooltip.right .tooltip-arrow {
  border-right-color: #dd4b39;
}

.googleplus + .tooltip.left .tooltip-arrow {
  border-left-color: #dd4b39;
}
.googleplus + .tooltip.bottom .tooltip-arrow,
.googleplus + .tooltip.bottom-left .tooltip-arrow,
.googleplus + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #dd4b39;
}

/* Dribbble tooltip bg color */
.dribbble + .tooltip .tooltip-inner {
  background-color: #ea4c89;
}
.dribbble + .tooltip.top .tooltip-arrow,
.dribbble + .tooltip.top-left .tooltip-arrow,
.dribbble + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #ea4c89;
}

.dribbble + .tooltip.right .tooltip-arrow {
  border-right-color: #ea4c89;
}

.dribbble + .tooltip.left .tooltip-arrow {
  border-left-color: #ea4c89;
}
.dribbble + .tooltip.bottom .tooltip-arrow,
.dribbble + .tooltip.bottom-left .tooltip-arrow,
.dribbble + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #ea4c89;
}

/* Linkedin tooltip bg color */
.linkedin + .tooltip .tooltip-inner {
  background-color: #0e76a8;
}
.linkedin + .tooltip.top .tooltip-arrow,
.linkedin + .tooltip.top-left .tooltip-arrow,
.linkedin + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #0e76a8;
}

.linkedin + .tooltip.right .tooltip-arrow {
  border-right-color: #0e76a8;
}

.linkedin + .tooltip.left .tooltip-arrow {
  border-left-color: #0e76a8;
}
.linkedin + .tooltip.bottom .tooltip-arrow,
.linkedin + .tooltip.bottom-left .tooltip-arrow,
.linkedin + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #0e76a8;
}

/* skype tooltip bg color */
.skype + .tooltip .tooltip-inner {
  background-color: #00aff0;
}
.skype + .tooltip.top .tooltip-arrow,
.skype + .tooltip.top-left .tooltip-arrow,
.skype + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #00aff0;
}

.skype + .tooltip.right .tooltip-arrow {
  border-right-color: #00aff0;
}

.skype + .tooltip.left .tooltip-arrow {
  border-left-color: #00aff0;
}
.skype + .tooltip.bottom .tooltip-arrow,
.skype + .tooltip.bottom-left .tooltip-arrow,
.skype + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #00aff0;
}

/* youtube tooltip bg color */
.youtube + .tooltip .tooltip-inner {
  background-color: #c4302b;
}
.youtube + .tooltip.top .tooltip-arrow,
.youtube + .tooltip.top-left .tooltip-arrow,
.youtube + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #c4302b;
}

.youtube + .tooltip.right .tooltip-arrow {
  border-right-color: #c4302b;
}

.youtube + .tooltip.left .tooltip-arrow {
  border-left-color: #c4302b;
}
.youtube + .tooltip.bottom .tooltip-arrow,
.youtube + .tooltip.bottom-left .tooltip-arrow,
.youtube + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #c4302b;
}

/* instagram tooltip bg color */
.instagram + .tooltip .tooltip-inner {
  background-color: #517fa4;
}
.instagram + .tooltip.top .tooltip-arrow,
.instagram + .tooltip.top-left .tooltip-arrow,
.instagram + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #517fa4;
}

.instagram + .tooltip.right .tooltip-arrow {
  border-right-color: #517fa4;
}

.instagram + .tooltip.left .tooltip-arrow {
  border-left-color: #517fa4;
}
.instagram + .tooltip.bottom .tooltip-arrow,
.instagram + .tooltip.bottom-left .tooltip-arrow,
.instagram + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #517fa4;
}

/* flickr tooltip bg color */
.flickr + .tooltip .tooltip-inner {
  background-color: #ff0084;
}
.flickr + .tooltip.top .tooltip-arrow,
.flickr + .tooltip.top-left .tooltip-arrow,
.flickr + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #ff0084;
}

.flickr + .tooltip.right .tooltip-arrow {
  border-right-color: #ff0084;
}

.flickr + .tooltip.left .tooltip-arrow {
  border-left-color: #ff0084;
}
.flickr + .tooltip.bottom .tooltip-arrow,
.flickr + .tooltip.bottom-left .tooltip-arrow,
.flickr + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #ff0084;
}

/* tumblr tooltip bg color */
.tumblr + .tooltip .tooltip-inner {
  background-color: #34526f;
}
.tumblr + .tooltip.top .tooltip-arrow,
.tumblr + .tooltip.top-left .tooltip-arrow,
.tumblr + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #34526f;
}

.tumblr + .tooltip.right .tooltip-arrow {
  border-right-color: #34526f;
}

.tumblr + .tooltip.left .tooltip-arrow {
  border-left-color: #34526f;
}
.tumblr + .tooltip.bottom .tooltip-arrow,
.tumblr + .tooltip.bottom-left .tooltip-arrow,
.tumblr + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #34526f;
}

/* github tooltip bg color */
.github + .tooltip .tooltip-inner {
  background-color: #171515;
}
.github + .tooltip.top .tooltip-arrow,
.github + .tooltip.top-left .tooltip-arrow,
.github + .tooltip.top-right .tooltip-arrow  {
  border-top-color: #171515;
}

.github + .tooltip.right .tooltip-arrow {
  border-right-color: #171515;
}

.github + .tooltip.left .tooltip-arrow {
  border-left-color: #171515;
}
.github + .tooltip.bottom .tooltip-arrow,
.github + .tooltip.bottom-left .tooltip-arrow,
.github + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #171515;
}


/* ---------------------------------
------------- 4.3 Alerts  */

.alert-dismissable .close {
  top:0;
}

.alert-dismissable .close:active,
.alert-dismissable .close:focus {
  outline:none;
}



/* ---------------------------------
------------- 4.4 Buttons & Badges */

.btn {
  padding: 0.45em 1.3em;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.55em 1.8em;
  font-size: 19px;
  line-height: 1.5;
  border-radius: 6px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.4em 1.1em;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 0.2em 0.7em;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-block + .btn-block {
  margin-top: 0.5em;
}

.btn-blue {
  color: #ffffff;
  background-color: #1e53d8;
  border-color: #1945b4;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #1945b4;
  border-color: #13368c;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #1e53d8;
  border-color: #1b4ac2;
}

.btn-blue .badge {
  color: #1e53d8;
  background-color: #ffffff;
}

.btn-lightgreen {
  color: #ffffff;
  background-color: #09d33d;
  border-color: #08bb36;
}

.btn-lightgreen:hover,
.btn-lightgreen:focus,
.btn-lightgreen:active,
.btn-lightgreen.active,
.open .dropdown-toggle.btn-lightgreen {
  color: #ffffff;
  background-color: #07ac32;
  border-color: #058025;
}

.btn-lightgreen:active,
.btn-lightgreen.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-lightgreen.disabled,
.btn-lightgreen[disabled],
fieldset[disabled] .btn-lightgreen,
.btn-lightgreen.disabled:hover,
.btn-lightgreen[disabled]:hover,
fieldset[disabled] .btn-lightgreen:hover,
.btn-lightgreen.disabled:focus,
.btn-lightgreen[disabled]:focus,
fieldset[disabled] .btn-lightgreen:focus,
.btn-lightgreen.disabled:active,
.btn-lightgreen[disabled]:active,
fieldset[disabled] .btn-lightgreen:active,
.btn-lightgreen.disabled.active,
.btn-lightgreen[disabled].active,
fieldset[disabled] .btn-lightgreen.active {
  background-color: #09d33d;
  border-color: #08bb36;
}

.btn-lightgreen .badge {
  color: #09d33d;
  background-color: #ffffff;
}

.btn-lightblue {
  color: #ffffff;
  background-color: #1bc4f5;
  border-color: #0ab9ec;
}

.btn-lightblue:hover,
.btn-lightblue:focus,
.btn-lightblue:active,
.btn-lightblue.active,
.open .dropdown-toggle.btn-lightblue {
  color: #ffffff;
  background-color: #0aaedd;
  border-color: #088bb2;
}

.btn-lightblue:active,
.btn-lightblue.active,
.open .dropdown-toggle.btn-lightblue {
  background-image: none;
}

.btn-lightblue.disabled,
.btn-lightblue[disabled],
fieldset[disabled] .btn-lightblue,
.btn-lightblue.disabled:hover,
.btn-lightblue[disabled]:hover,
fieldset[disabled] .btn-lightblue:hover,
.btn-lightblue.disabled:focus,
.btn-lightblue[disabled]:focus,
fieldset[disabled] .btn-lightblue:focus,
.btn-lightblue.disabled:active,
.btn-lightblue[disabled]:active,
fieldset[disabled] .btn-lightblue:active,
.btn-lightblue.disabled.active,
.btn-lightblue[disabled].active,
fieldset[disabled] .btn-lightblue.active {
  background-color: #1bc4f5;
  border-color: #0ab9ec;
}

.btn-lightblue .badge {
  color: #1bc4f5;
  background-color: #ffffff;
}

.btn-orange {
  color: #ffffff;
  background-color: #f49d14;
  border-color: #e48f0b;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #ffffff;
  background-color: #d5860a;
  border-color: #a96b08;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #f49d14;
  border-color: #e48f0b;
}

.btn-orange .badge {
  color: #f49d14;
  background-color: #ffffff;
}

.btn-red {
  color: #ffffff;
  background-color: #c90e31;
  border-color: #b10c2b;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #a30b28;
  border-color: #78081d;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled